.cloudsvg {
    fill: red;
}

body {
    overflow: hidden;
    color: white;
}

body::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
    z-index: 100;
    background-size: 100% 2px, 3px 100%;
    pointer-events: none;
}

.mainContent {
    padding: 3rem;

    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
    
    white-space: pre;                      /* CSS2.0 browsers */
    white-space: pre-wrap;                 /* CSS2.1 browsers */
    white-space: pre-line;                 /* CSS3 and CSS2.1 */
    white-space: -moz-pre-wrap !important; /* 1999+ Mozilla   */
    white-space: -hp-pre-wrap;             /* for HP printers */
    white-space: -o-pre-wrap;              /* Opera 7 and up  */
    white-space: -pre-wrap;                /* Opera 4 thru 6  */
    word-wrap: break-word;                 /* IE 5.5+ and up  */
}

.console {
    background-color: black;
}

.icon {
    display: block;
    position: absolute;

    font-size: 15px;
    text-align: center;

    width: 125px;
    border: 1px solid transparent;
}

.icon:hover {
    cursor: pointer;
    border: 1px dotted rgba(0, 0, 0, 0.25);
}

.icon img {
    width: 60%;
    margin: auto;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.icon a {
    width: 100%;
    font-size: 1em;
}

h1, h2, h3, p {
    text-align: left;
}