@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

:root {
  /* --background: #A0C4FF;
  --secondary: #9BF6FF;
  --contrast: #BDB2FF;
  --highlight: #FFC6FF;
  --daybg: #FFD6A5; */
  --background: #000000;
}

* {
  font-variant-ligatures: none;
}

body {
  margin: 0;
  font-family: 'Press Start 2P', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: var(--background); */
  background-color:skyblue;
}

p {
  line-height: 1.5rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
